body {
    background-image: url(https://fortunedotcom.files.wordpress.com/2016/09/548776013.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
